<!DOCTYPE html>
<html lang="en"> <!-- Add "lang" and/or "xml:lang" attributes to this "<html>" element -->
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> <!-- Certifique-se de que não usar o recurso de integridade de recursos seja seguro aqui. -->
    <title>
      {% block title %}{% endblock %}
    </title>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
