<!DOCTYPE html>
<!-- Acrescentar o elemento lang e/ou xml:lang para identificar o idioma padrão de um documento.
Ele permite que tecnologias assistivas, como leitores de tela, proporcionem uma experiência de leitura confortável, adaptando a pronúncia e o sotaque ao idioma. 
Ele também suporta software de tradução braille, informando-o para alterar os códigos de controle para caracteres acentuados, por exemplo.-->
<html lang="en">
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- Verificar a integridade de um artefato remoto, a verificação de hash é a solução mais confiável.   -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
      integrity="sha384-oqVuAfXRKap7fdgcCY5uykM6+R9GqQ8K/uxy9rx7HNQlGYl1kPzQho1wx4JwY8wC"
      ></script>
    <title>
      {% block title %}{% endblock %}
    </title>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
