<!DOCTYPE html>
<!-- Acrescentar o elemento lang e/ou xml:lang para identificar o idioma padrão de um documento.
Ele permite que tecnologias assistivas, como leitores de tela, proporcionem uma experiência de leitura confortável, adaptando a pronúncia e o sotaque ao idioma. 
Ele também suporta software de tradução braille, informando-o para alterar os códigos de controle para caracteres acentuados, por exemplo.-->
<html lang="en">
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>
      {% block title %}{% endblock %}
    </title>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
